/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster');

:root {
  --main-color: #cdd2d8;
}

html, body {
	width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

section {
  
}

/* Navigation */
.navbar {
  background-color: transparent; /* #fff*/
  /*border-bottom: 1px solid #cdd2d8;*/
}

.navbar-brand {
  font-weight: bold;
}

.navbar-toggler {
  border: none !important;
}

.nav-link:hover {
  font-weight: bold;
}

.navScroll {
  background-color: #ffffff;
  border-bottom: 1px solid var(--main-color);
}

@media (max-width: 992px) {
  .navbar {
    background-color: #ffffff;
    border-bottom: 1px solid var(--main-color);
  }
}

/* Header/Main */
#page-top {
  margin-top: 0px;
}

#my-pic {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
}

.intro {
  padding: 150px 0 150px 0;
  text-align: center;
}

#intro-name {
  font-size: 3rem;
}

#intro-bio {
  font-size: 1rem;
}

/* Line Break */
hr {
  width: 80%;
}

/* Projects Section */
#projects-title {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Lobster', 'Roboto', sans-serif;
}

.card-link {
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}

.card-link:hover {
  color: var(--main-color);
}

.card {
  box-shadow: 5px 5px 5px var(--main-color);
}

.card-container {
  margin-bottom: 30px;
}

.card-title {
  text-align: center;
}

/* Footer */
footer {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid var(--main-color);
}

.social-media {
  text-align: center;
  margin-top: 25px;
}

.social-media a {
  color: #000;
  font-size: 50px;
  margin: 0px 10px;
}

.social-media a:hover {
  color: rgba(0, 0, 0, 0.5);
}

#cp-hz {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
  color: #000;
  background-color: #fff;
}